{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; URL=http://127.0.0.1:8000/home">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <script>
        setTimeout(function(){
            window.location.reload(10);
        }, 5000);
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <h1 class="navbar-brand"><b><big>Health Monitoring System</big></b></h1>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/archive/" class="btn btn-warning">View Archive</a></li>
                <li><a href="/pdetails/" class="btn btn-warning">Settings</a></li>
                <li><a href="/logout/" class="btn btn-warning">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h4 class="text-center">Latest Information</h4>
        <table class="table table-bordered table-hover" style="width: 50%; margin: auto;">
            <thead>
                <tr class="success">
                    <th>User Name</th>
                    <th>Temperature (C)</th>
                    <th>Pulse (BPM)</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="success">
                    <td>{{ user.name }}</td>
                    <td>{{ user.temperature }}</td>
                    <td>{{ user.pulse }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
