<!DOCTYPE html>
<html>
<head>
    <title>Chart Example</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <style type="text/css">
        .container {
            margin-top: 50px;
        }

        h2 {
            margin-bottom: 20px;
        }

        .chart-container {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="navbar-brand"><b><big>Chart Example</big></b></h1>
        </div>
      </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Chart</h2>
                <div class="chart-container">
                    <img src="{{ chart_url }}" alt="Chart Image">
                </div>
                <p><a href="/home/">Back to Home</a></p>
            </div>
        </div>
    </div>

</body>
</html>
